@font-face {
   font-family: 'Exo-Regular';
   src: url('Exo-Regular/font.ttf');
}
@font-face {
   font-family: 'Montserrat-Regular';
   src: url('Montserrat-Regular/font.ttf');
}
@font-face {
   font-family: 'OpenSans-CondLight';
   src: url('OpenSans-CondLight/font.ttf');
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url('Raleway-Regular/font.ttf');
}
